.table {
    border: none !important;
}

    .table th, .table td {
        border: none !important;
    }

.fixed-table-container {
    border: none !important;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.cursor:hover {
    cursor: pointer;
}
