<h2>Transactions</h2>
<div>
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-4 col-sm-4"
                 style="line-height:56px;">
                <a class="btn btn-primary btn-sm"
                   style="vertical-align:middle;"
                   ui-sref="app.transactions.add">New transaction</a>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <h3>{{ vm.user.name }}</h3>
            </div>
            <div class="col-md-4 col-sm-4 text-right text-nowrap">
                <h3>
                    <i class="fa fa-database"></i>&nbsp;
                    <span class="label label-info">
                        {{ vm.user.balance | currency:"PW" }}
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div ng-if="vm.transactions.length == 0">
        <h3 class="text-center">No transactions found</h3>
    </div>
    <div ng-if="vm.transactions.length != 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User From</th>
                    <th>User To</th>
                    <th class="text-right">Amount</th>
                    <th class="text-center">Creation Date</th>
                    <th class="text-right">Current Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trn in vm.transactions"
                    ng-class="trn.credit ? 'success' : 'danger'">
                    <td>{{ trn.id }}</td>
                    <td>{{ trn.userFromName }}</td>
                    <td>{{ trn.userToName }}</td>
                    <td class="text-right">{{ trn.amount | currency:"PW" }}</td>
                    <td class="text-center">{{ trn.creationDate | utcToLocal:'dd.MM.yyyy HH:mm:ss'  }}</td>
                    <td ng-if="trn.credit" class="text-right">{{ trn.userToBalance | currency:"PW" }}</td>
                    <td ng-if="!trn.credit" class="text-right">{{ trn.userFromBalance | currency:"PW" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
